  /* -------------------------------------------------- */
  .skip {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.25);
}
.skip:focus-visible,
.skip:focus-within {
    height: 100%;

}
.skip a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 10%;
    color: #fff;
    font-size: 36px;
    background: rgba(0, 0, 0, 0.8);
}
.skip a:focus:after {
    content: '';
    position: absolute;
    top: 68px;
    width: 210px;
    height: 2px;
    background: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 90px;
    width: 100%;
    background: #25C18D;
    z-index: 5;
}

/* 상단nav */

.logoLink {
    display: block;
    width: 120px;
    height: 40px;

}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    gap: 1px;
    z-index: 5;
}
nav .headerLogo {
    position: relative;
    z-index: 5;
    width: 120px;
    height: 40px;
}

.mainMenu {
    display: flex;
    justify-content: flex-end;
    width: 750px;
    height: 90px;
    margin: 0 60px;
}
ul.mainMenu > li.child {
    float: left;
    position: relative;
    width: calc(99% / 5);
    line-height: 90px;
    text-align: center;
    font-size: 17px;
    z-index: 5;
}
ul.mainMenu > li.child a {
    position: relative;
    color: #222;
}
ul.mainMenu li.child > a:focus-visible,
ul.mainMenu li.child > a:hover {
    font-weight: bold;
}
ul.mainMenu > li.child a:after {
    content: '';
    position: absolute;
    left: 100%;
    top: -95%;
    width: 1px;
    height: 50px;
    opacity: 0;
    transition: 0.3s;
    transform: scaleX(-1) rotate(105deg);
    background: url("../images/bg-leaf.svg") center / 100% no-repeat;
}
ul.mainMenu li.child:focus-within a::after,
ul.mainMenu li.child:hover a:after {
    opacity: 1;
    width: 9px;
}

ul.mainMenu > li.child ul.innerUl a:after {
    content: none;
}
ul.innerUl {
    opacity: 0;
    cursor: none;
    pointer-events: none;
}
ul.mainMenu:focus-within .innerUl,
ul.mainMenu:hover .innerUl {
    opacity: 1;
    cursor: auto;
    pointer-events: auto;
}

ul.mainMenu li ul.innerUl li a {
    display: block;
    width: 90%;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    color: #111;
    margin: 0 auto;
}

ul.mainMenu li ul.innerUl li a:focus,
ul.mainMenu li ul.innerUl li a:hover {
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    background: #25C18D;

}

ul.mainMenu li ul.innerUl li a:focus:after,
ul.mainMenu li ul.innerUl li a:hover:after {
    content: unset;
}

ul.mainMenu .child:focus {
    display: block;
}

nav div.navApp {
    width: 120px;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #fff;
    z-index: 10;
    outline: 1px solid #25C18D;
    background: #fff;

}
nav div.navApp a {
    color: #25C18D;

}

.head_bottomCover {
    position: absolute;
    width: 100%;
    height: 342px;
    top: -252px;
    left: 0;
    background-color: #fff;
}




.head_bottomCover:hover,
li.child:focus-within ~ .head_bottomCover,
li.child:hover ~ .head_bottomCover {
    opacity: 1;
    top: 0;
}

.head_bottomCover:hover .headerImg,
li.child:focus-within ~ .head_bottomCover .headerImg,
li.child:hover ~ .head_bottomCover .headerImg {
    opacity: 1;
}

.head_bottomCover a:has(.headerImg) {
    display: block;
    width: fit-content;
    margin: 122px 0 0;
}

.head_bottomCover .headerImgCover {
    width: 1114px;
    margin: 0 auto;
}

.headerImg {
    width: 190px;
    height: 110px;
    background: url("../images/_header_banner_bccard.png") center / contain no-repeat;
}

/* 헤더끝 */
/* 푸터시작 */

footer {
    width: 100%;
    border-top: 1px solid#c9c9c9;
    background-color: #F9FAFC;
}

.footContainer {
    width: 1114px;
    margin: 0 auto;
    padding: 40px 0 70px 0;
}

.footContainer h1{
    font-size: 20px;
}

.footContainer ul  {
    display: flex;
    margin: 10px 0 0 0;
}
.footContainer ul li{
    position: relative;
    padding: 0 15px;
}

.footContainer ul li:after{
    content: '';
    position: absolute;
    top: 20%;
    left: 100%;
    width: 2px;
    height: 80%;
    background: #c4c4c4;
    
}
.footContainer ul li:first-child{
    padding: 0 10px 0 0;
}
.footContainer ul li:last-child:after{
    content: none;
}


.footContainer ul li a{
    font-size: 15px;
}

