* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Gowun Dodum", sans-serif;
  border: 0;
  background: none;
}

.pointerNone {
  pointer-events: none;
  cursor: none;
}


.wrap {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.title {
  width: 100%;
  aspect-ratio: 30/4;
  margin: 50px 0 30px;
  background:url(../images/title.svg) center / contain no-repeat;
}

.wheelWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 512px;
  aspect-ratio: 1/1;
}

.wheel {
  position: absolute;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border-radius: 50%;
}

.wheelWrap .wheel_0 {
  width: 100%;
  rotate: 0deg;

  background: url(../images/wheel_1.svg) center/ contain no-repeat;
}
.wheelWrap .wheel_1 {
  width: 378px;
  rotate: 0deg;
  background: url(../images/wheel_2.svg) center/ contain no-repeat;
}

.wheelWrap .wheel_2{
  width: 260px;
  background: url(../images/wheel_3.svg) center/ contain no-repeat;
  rotate: 0deg;
}
.arrow {
  width: 42px;
  aspect-ratio: 1/1;
  z-index: 1;
  rotate: -2deg;
  transform-origin: center center;
}
.arrow:after {
  content: '';
  width: 87px;
  height: 70px;
  position: absolute;
  top: -50%;
  left: 86%;
  transform: translate(-50%,-0%);
  background: url(../images/arrow.svg) center / contain no-repeat;
}

.bigarrow {
  position: absolute;
  top: 108px;
  right: -2px;
  width: 242px;
  height: 182px;
  pointer-events: none;
  transform-origin: left center;
  transform: rotate(362deg);
  background: url(../images/bigArrow.svg) center / contain no-repeat;
}


.sector {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50%;
  font-size: 21px;
  text-align: center;
  line-height: 1.3;
  box-sizing: border-box;
  transform-origin: center bottom;

}
.wheel_2 .sector {
  left: 21%;
  width: 152px;
  padding: 0 0 40px 0;
  color: #fff;
}

.wheel_1 .sector {
  left: 36.5%;
  width: 112.2px;
  padding: 0 0 129px 0;
  color: #000;
}

.wheel_0 .sector {
  left: 36%;
  width: 150.55px;
  padding: 0 0 189px 0;
  color: #000;
}


input {
  width: 70%;
  text-align: center;
  font-size: 20px;

}

input::placeholder {
  color: rgb(151, 151, 151);
}




.wheel_2 .sector_1 {
  rotate: 0deg;
}
.wheel_2 .sector_2 {
  rotate: 72deg;
}
.wheel_2 .sector_3 {
  rotate: 144deg;
}
.wheel_2 .sector_4 {
  rotate: 216deg;
}
.wheel_2 .sector_5 {
  rotate: 288deg;
}
/* .wheel_2ì˜ sector------------- */
.wheel_0 .sector_1,
.wheel_1 .sector_1 {
  rotate: 0deg;
}
.wheel_0 .sector_2,
.wheel_1 .sector_2 {
  rotate: 36deg;
}
.wheel_0 .sector_3,
.wheel_1 .sector_3 {
  rotate: 72deg;
}
.wheel_0 .sector_4,
.wheel_1 .sector_4 {
  rotate: 113deg;
}
.wheel_0 .sector_5,
.wheel_1 .sector_5 {
  rotate: 149deg;
}
.wheel_0 .sector_6,
.wheel_1 .sector_6 {
  rotate: 185deg;
}
.wheel_0 .sector_7,
.wheel_1 .sector_7 {
  rotate: 219deg;
}
.wheel_0 .sector_8,
.wheel_1 .sector_8 {
  rotate: 253deg;
}
.wheel_0 .sector_9,
.wheel_1 .sector_9 {
  rotate: 290deg;
}
.wheel_0 .sector_10,
.wheel_1 .sector_10 {
  rotate: 325deg;
}





/* bottom---------------------------- */
.bottomTop .del {
  position: absolute;
  right: 10px;
  bottom: 78px;
  width: 75px;
  aspect-ratio: 1/1;
  cursor: pointer;
  background: url(../images/del.svg) center / contain no-repeat;
}

.bottom .bottom_BTN_wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0 0 0
}
.bottom .bottom_BTN_wrap > button {
  width: 157px;
  height: 59px;
  cursor: pointer;
}

.bottom .bottom_BTN_wrap > button.wheel_turn {
  background: url(../images/turn.svg) center/ contain no-repeat;
}
.bottom .bottom_BTN_wrap > button.wheel_stop {
  background: url(../images/stop.svg) center/ contain no-repeat;
}

