
/* 폰트 */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Gowun Dodum", sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

.skip {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    height: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.25);
}
.skip:focus-visible,
.skip:focus-within {
    height: 100%;

}
.skip a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 10%;
    color: #fff;
    font-size: 36px;
    background: rgba(0, 0, 0, 0.8);
}
.skip a:focus:after {
    content: '';
    position: absolute;
    top: 68px;
    width: 210px;
    height: 2px;
    background: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 90px;
    width: 100%;
    background: #25C18D;
    z-index: 5;
}

/* 상단nav */

.logoLink {
    display: block;
    width: 120px;
    height: 40px;

}
nav .headerLogo {
    position: relative;
    z-index: 5;
    width: 120px;
    height: 40px;
    background: url("./images/logo.svg") center / contain no-repeat;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin: 0 auto;
    gap: 1px;
    z-index: 5;
    /* border-bottom: 2px solid #444; */
}
header:hover nav {
    /* border-bottom: 2px solid #bdbdbd; */

}
.mainMenu {
    display: flex;
    width: 750px;
    height: 90px;
    margin: 0 60px;
    justify-content: flex-end;
}
ul.mainMenu > li.child {
    float: left;
    position: relative;
    width: calc(99% / 5);
    line-height: 90px;
    text-align: center;
    font-size: 17px;
    z-index: 5;
}
ul.mainMenu > li.child a {
    position: relative;
    color: #222;
}
ul.mainMenu li.child > a:focus-visible,
ul.mainMenu li.child > a:hover {
    font-weight: bold;
}
ul.mainMenu > li.child a:after {
    content: '';
    position: absolute;
    left: 100%;
    top: -95%;
    width: 1px;
    height: 50px;
    opacity: 0;
    transition: 0.3s;
    transform: scaleX(-1) rotate(105deg);
    background: url("./images/bg-leaf.svg") center / 100% no-repeat;
}
ul.mainMenu li.child:focus-within a::after,
ul.mainMenu li.child:hover a:after {
    opacity: 1;
    width: 9px;
}

ul.mainMenu > li.child ul.innerUl a:after {
    content: none;
}
ul.innerUl {
    opacity: 0;
    cursor: none;
    pointer-events: none;
}
ul.mainMenu:focus-within .innerUl,
ul.mainMenu:hover .innerUl {
    opacity: 1;
    cursor: auto;
    pointer-events: auto;
}

ul.mainMenu li ul.innerUl li a {
    display: block;
    width: 90%;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    transition: 0.5s;
    color: #111;
    margin: 0 auto;
}

ul.mainMenu li ul.innerUl li a:focus,
ul.mainMenu li ul.innerUl li a:hover {
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
    background: #25C18D;

}

ul.mainMenu li ul.innerUl li a:focus:after,
ul.mainMenu li ul.innerUl li a:hover:after {
    content: unset;
}

ul.mainMenu .child:focus {
    display: block;
}

nav div.navApp {
    width: 120px;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid #fff;
    z-index: 10;
    outline: 1px solid #25C18D;

}
nav div.navApp a {
    color: #25C18D;

}

.head_bottomCover {
    position: absolute;
    width: 100%;
    height: 342px;
    top: -252px;
    left: 0;
    transition: 0.5s;
    background-color: #fff;
}
.head_bottomCover:hover,
li.child:focus-within ~ .head_bottomCover,
li.child:hover ~ .head_bottomCover {
    opacity: 1;
    top: 0;
}

.head_bottomCover:hover .headerImg,
li.child:focus-within ~ .head_bottomCover .headerImg,
li.child:hover ~ .head_bottomCover .headerImg {
    margin: 140px auto 0;
    opacity: 1;
}

.headerImg {
    width: 1304px;
    /* margin: 75px auto 0; */
    margin: 140px auto 0;
    height: 110px;
    opacity: 0;
    background: url("./images/_header_banner_bccard.png") 77px center / contain no-repeat;
}

/* 헤더끝 */
section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 90px 0 0;
    box-sizing: border-box;
    flex-direction: row;
}
section.section_1 {
    background: #25C18D;

}
/* section:nth-child(2) {
            background: rgb(200, 201, 202);
        }
        section:nth-child(3) {
            background: rgb(255, 243, 243);
        }
        section:nth-child(4) {
            background: rgb(192, 192, 214);
        } */

/* section1   */

section.section_1 article {
    width: 40%;
    height: 85%;
}
section.section_1 .leftImg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 615px;
    height: 500px;
    margin: 100px auto 0;
    background: url("./images/bg-main-visual-svg.png") 2px center / 112% no-repeat;
}

.leftMoveBg {
    width: 95%;
    height: 45%;
    margin: 0 auto;
    transition: 0.3s;
    background-position: bottom center;
    background-size: 86%;
    background-repeat: no-repeat;
    background-image: url("./images/bg-main-visual-bg-03.png");

}



.leftChar {
    position: absolute;
    right: 36px;
    top: 190px;
    width: 228px;
    height: 157px;
    animation: charAni 2s infinite;
}

@keyframes charAni {
    0% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-17px); 
    }
    100% {
        transform: translateY(0); 
    }
}



.leftMoveBg.leftMoveBg_1 + .leftChar{
    background: url("./images/section1_char_1.png") 45px 7px / 61% no-repeat;
}
.leftMoveBg.leftMoveBg_2 + .leftChar{
    background: url("./images/section1_char_2.png") 25px 26px / 56% no-repeat;
}
.leftMoveBg.leftMoveBg_3 + .leftChar{
    background: url("./images/section1_char_3.png") 96px 33px / 47% no-repeat;
}


.leftMoveBg.leftMoveBg_1 ~.leftCharObj_1{
    position: absolute;
    right: 217px;
    top: 285px;
    width: 45px;
    height: 61px;
    animation: none;
    background: url(./images/section1_char_1_obj_1.png) center / 100% no-repeat;
    animation: leftCharObj_1 2s infinite    ;
}
@keyframes leftCharObj_1 {
    0% {
        transform: translate(0,0); 
    }
    40% {
        transform: translate(-6px,-10px);
    }
    100% {
        transform: translate(0,0); 
    }
}
.leftMoveBg.leftMoveBg_1 ~.leftCharObj_2{
    position: absolute;
    right: 65px;
    top: 170px;
    width: 45px;
    height: 61px;
    animation: none;
    background: url(./images/section1_char_1_obj_2.png) center / 100% no-repeat;
    animation: leftCharObj_2 2s infinite;
}
@keyframes leftCharObj_2 {
    0% {
        transform: translate(0,0); 
    }
    5% {
        transform: translate(0,0); 
    }
    40% {
        transform: translate(6px,-10px);
    }
    100% {
        transform: translate(0,0); 
}
}

.leftMoveBg.leftMoveBg_3 ~.leftCharObj_1{
    position: absolute;
    right: 47px;
    top: 176px;
    width: 43px;
    height: 44px;
    animation: none;
    background: url(./images/section1_char_3_obj_1.png) center / 100% no-repeat;
    animation: hartAni 1.5s infinite;
    rotate: 2deg;
}
@keyframes hartAni {
    0% {
        opacity: 1;
        scale: 0;
        transform: translate(-10px,-10px);
    }
    50% {
        opacity: 1;
        scale: 0;
        transform: translate(-10px,-10px);
    }

    100% {
        opacity: 0;
        scale: 1;
        transform: translate(0,0);
    }
}


.rightTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 645px;
    height: 80px;
}

.rightTitle > .rightTitle {
    height: 100%;
    outline: 1px solid;
}


.section_1_bottom {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 96px;
    background: #fff;
}

.section_1_bottom .bottom_1_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: bounce 9.5s infinite forwards;
    background-image: url("./images/bg-main-wave-1.png");
    background-position: -10px -2px;
    background-repeat: repeat-x;
    background-size: contain;
}

@keyframes bounce {
    0% {
        background-position: 500px -10px;
    }
    25% {
        background-position: 930px -10px;
    }
    50% {
        background-position: 1390px -10px;
    }
    75% {
        background-position: 610px -10px;
    }
    100% {
        background-position: 500px -10px;
    }
}

.section_1_bottom .bottom_1_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    animation: bounce2 7s infinite forwards;
    background-image: url("./images/bg-main-wave-1.png");
    background-position: 300px top;
    background-repeat: repeat-x;
    background-size: contain;
}
@keyframes bounce2 {
    0% {
        background-position: 0 top;
    }
    25% {
        background-position: -340px top;
    }
    50% {
        background-position: -650px top;
    }
    75% {
        background-position: -149px top;
    }
    100% {
        background-position: 0 top;
    }
}
