@charset "UTF-8";

* {margin: 0; 	border: 0; 	padding: 0; }
ul, li {list-style: none;}
img{border: 0;}
a {text-decoration: none;}
/*
font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy'; */


body{
  display:grid;
  grid-template-rows: 50px 150px 620px auto;
  grid-template-columns: auto 200px 880px 200px auto;
  justify-items: center;
  grid-template-areas:
  'head_bar head_bar head_bar head_bar head_bar'
  '. header header header .'
  'slide slide slide slide slide'
  'sale1 sale1 sale1 sale1 sale1'
  'sale2 sale2 sale2 sale2 sale2'
  'photo_sale_back photo_sale_back photo_sale_back photo_sale_back photo_sale_back'
  'ranking ranking ranking ranking ranking'
  'benefit benefit benefit benefit benefit'
  'active_sale active_sale active_sale active_sale active_sale'
  'footer footer footer footer footer';
  font-family: 'NanumSquareNeo';
}

.head_bar{
  background:  #000;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: head_bar;
}

/* head_bar 시작 */
.head_bar > h5 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

header{
  width: 1280px;
  min-width: 1280px;
  grid-area: header;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-direction: column;
}

.header_top, .header_bottom{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
}

.header_top_left{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 46px 0 0 0;

}
.header_bottom_left{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.header_bottom_left p{
  font-weight: 600;
  margin: 0 0 0 4px;
}
.header_top_center{
  width: 500px;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #444;
  padding: 46px 0 0 0;
}
.header_top_center p{
  color: #9d9d9d;
  font-size: 14px;
  width: 95%;
  float: left;
}
.header_bottom_center{
  width: 500px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
}
.header_bottom_center ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header_bottom_center ul li{
    font-weight: 600;
}


.header_top_right{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0 0 0;

  display: flex;
}

.header_top_right_con1{
  width: 33.3333%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.header_top_right_con1 p{
  font-size: 12px;
  color: #9d9d9d;
}

.header_bottom_right{
  width: 200px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_bottom_right > p{
  font-weight: 600;
}

section{
  margin: 50px 0 50px 0;
}


#slide{
  background: #555;
  width: 100%;
  grid-area: slide;
  margin: 0 0 50px 0;
  background-image: url("./innisfree_img/BM11_657_left_pc.jpg");
}

.slide_page_number {
  width: 156px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 67%;
  left: 20%;
}

section.sale{
  width: 1280px;
  min-width: 1280px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section#mascara{
  /* border: 1px solid #000; */
  box-sizing: border-box;
  grid-area: sale1;
}
section#season{
  background-color: #888;
  grid-area: sale2;
}

.greentop{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: 21px;
  color: #246a4e;
}
.title_1{
  display: block;
  width: 80%;
  display: block;
  /* border: 1px solid #fff; */
  box-sizing: border-box;
}
.more{
  height: 40px;
  width: 140px;
  border: 1px solid #000;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  font-family: 'NanumSquareNeo';
  background: #fff;
}

.sale_con{
  width: 21%;
  height: 90%;
  border: 1px solid #000;
  box-sizing: border-box;
  margin: 0 4% 0 0;
}
.sale_con > .sale_con_img{
  width: 100%;
  height: 60%;
  background-position-x: 0;
  background-position-y: 53%;
  background-size: 100%;
  position: relative;
  margin: 0 0 10% 0;
}
.sale_con_hover{
  width: 100%;
  height: 100%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  opacity: 0;
  height 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.sale_con_hover:hover{
  opacity: 1;
  height: 100%;
}



#sale_con_img_1{
  background-image: url("./innisfree_img/36116_l_S_240.jpg");
}
#sale_con_hover_1{
  background-image: url("./innisfree_img/36117_l1_S_240.jpg");
}

#sale_con_img_2{
  background-image: url("./innisfree_img/36116_l_S_240.jpg");
}
#sale_con_img_3{
  background-image: url("./innisfree_img/35696_l_S_240.jpg");
  background-position-y: 46%;
}

.sale_con img{
  width: 100%;
}
.sale_name{
  font-weight: 600;
  font-size: 17px;
}

.sale_grade{
  font-size: 13px;
  padding: 5px 0 5px 0;

}
.price > strong{
  font-size: 20px;
}
.price > .cost{
  text-decoration-line: line-through;
  color:#707070;
  font-size: 14px;
  padding: 0 5px 0 5px;
}
.price > .sale{
  color: red;
  font-size: 25px;
  font-weight: bold;
}




.photo_sale_back{
  width: 100%;
  height: 300px;
  background: red;
  grid-area: photo_sale_back;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 250px 0 50px 0;
}

.photo_sale{
  background-color: #777;
  width: 1280px;
  min-width: 1280px;
  height: 500px;
  display: flex;


}


.photo_sale_left, .photo_sale_right{
  width: 50%;
  height: 100%;

  box-sizing: border-box;
}
.photo_sale_img{
  width: 100%;
  height: 60%;
  box-sizing: border-box;
  border : 1px solid #555;
}

#ranking{
  background-color: #555;
  grid-area: ranking;
  width: 1280px;
  min-width: 1280px;
  height: 760px;
  display: flex;
  flex-direction: column;
}

#ranking_ul{
  width: 100%;
  height: 50px;
  border: 1px solid #fff;
  box-sizing: border-box;

}

#ranking_ul > li{
  width: 10%;
  height: 50px;
  float: left;
  margin: 0 10px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;

}


.ranking_con_wrap{
  height: 87%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid #fff;
}
.ranking_con{
  width: 25%;
  height:50%;
  box-sizing: border-box;
  border: 1px solid #fff;
}

#benefit{
  background-color: #444;
  grid-area: benefit;
  width: 1280px;
  min-width: 1280px;
  height: 500px;

}

.benefit_con_wrap{
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1px solid #fff;
}
.benefit_con{
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 33.33333%;
  height: 50%;
}
#active_sale{
  background-color: red;
  grid-area: active_sale;
  width: 1280px;
  min-width: 1280px;
  height: 700px;
}
.active_sale_con{
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #fff;
}
.active_sale_img_wrap{
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  border: 1px solid #fff;

}
.active_sale_title{
  width: 100%;
  height: 50px;
    border: 1px solid #fff;
}
.active_sale_tag_wrap{
  width: 100%;
  height: 8%;
    border: 1px solid #fff;
}

footer{
  background-color: #555;
  grid-area: footer;
  width: 1280px;
  min-width: 1280px;
  height: 500px;
}

.foot_top{
  width: 100%;
  height: 100px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-around;
    align-items: baseline;
}

.foot_bottom{
  background: #ededed;
  width: 100%;
  height: 300px;

}

#foot_bottom_ul{
  width: 100%;
  background-color: red;
}
