@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

* {margin: 0; 	border: 0; 	padding: 0; }
ul, li {list-style: none;}
img{border: 0;}
a {text-decoration: none;}



html, body{
  width:100%;
	height:100%;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
}

.home{
  display: grid;
  position: fixed;
  position: relative;
  top: 80px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  padding: 5px;
  color:#fff;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

section {
  display:grid;
  align-items: center;
  overflow: hidden;

}
section#left {
  /* grid-template-rows: 80px auto; */
  width: 31%;
  height: 100%;
  float: left;
  position: relative;

}
section#right {
  width: 61%;
  height: 100%;
  display: block;
  float: right;
  box-sizing: border-box;
  position: relative;
  padding: 20px 0 0 0;

}


section#left nav {

  width: 500px;
  height: 500px;
  background-size: 100%;
  background-image: url(./study_img/study_1.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -300px;

}

section#left nav .nav_2{
  position: absolute;
  top: -50%;
  transform: translate(-8%, 32%);
  height: 600px;
  width: 600px;
  border: 5px solid #a5a5a5;
  border-radius: 50%;
}

section#left nav .nav_2 ul {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

section#left nav .nav_2 ul li {
  color: #000;
  font-size: 20px;
  padding: 0 0 10px 20px;
  width : 150px;
}
.active_1 {
  /* font-size: 24px; */
  font-weight: bold;
}
/* section#left nav .nav_2 ul li:nth-child(2) {
  padding: 0 0 10px 20px;
} */
section#right >.right_con_wrap > .right_con > h2{
  margin: 10px auto 0 auto;
  display: block;
  width: 90%;
  text-align: center;
  font-weight: normal;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #797979;
  line-height: 2;
  transition: all 0.8s ease;
}

section#right .bar{
  width: 90%;
  height: 40px;
  margin: 20px 0 20px 0;
  border: 2px solid #222;
  border-radius: 20px;
  grid-template-columns: repeat(auto-fill, minmax(25%, auto));
  justify-items: center;
  align-content: center;
  opacity: 0;
  z-index: 66;
  display: none;
  min-width: 540px;

}

.active_5{
  left: 0% !important;
  opacity: 1 !important;
  display: grid !important;
  z-index: 66666;
}

section#right .bar li{
  font-size: 20px;
}
section#right .bar li:hover{
  font-weight: bold;
}
.active_2{
  font-weight: bold;
  color : #578ef4;
}

.right_con_wrap{
  width: 90%;
  top: 17%;
  height: 73%;
  border: 1px solid #000;
  min-width: 540px;

}
.active_4 {
  display: block;
  left: 10%;
}

.right_con{
  width: 100%;
  height: 100%;
  align-self: stretch;
  /* position: absolute; */
  overflow-y: scroll;
  opacity: 0;
  display: none;
}
.active_3 {
  opacity: 1 !important;
  transition: all 0.8s ease;
  display: block;

}

/* #right_con_1{
  position: relative;
  top
}
#right_con_2{
  background: #777;
  top: 0%;
}
#right_con_3{
  background: #666;
}

#right_con_4{
  background: #444;
} */


.right_con > h3{
  border-bottom: 3px solid #111;
  display:block;
	text-align:center;
  font-size: 20px;
  background-color: #e5e5e5;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
  padding: 10px 0 10px 0;

}

pre.study_page_span{
  background-color: #2b2b37;
  color: #a9a9a9;
  padding: 10px 0 10px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: block;
}

.study_title{
  width: 300px;
  display: block;
  font-size: 29px;
  font-family: 'Noto Sans KR', sans-serif;
  transition: all 0.8s ease;

}

.right_con > p{
    font-family: 'Noto Sans KR', sans-serif;
	  font-size:15px;
		width: 90%;
		margin:20px auto 10px auto;
}


.container{background-color:#e0e0e0; margin: 0 auto;}

.items{
	width: 50px;
	height: 50px;
	line-height: 3.1;

}
.items_1{background-color:#ff0000;}
.items_2{background-color:#3cff00;}
.items_3{background-color:#fa5a22;}
.items_4{background-color:#0072ff;}
.items_5{background-color:#7a42f9;}
.items_6{background-color:#00ffd8;}
.items_7{background-color:#6c3a00;}
.items_8{background-color:#45006c;}
.items_9{background-color:#7e7e7e;}
.items_10{background-color:#007d58;}
.items_11{background-color:#363424;}


.container_1{
	line-height: 3.5;
	height:60px;
	width:100px;
	margin-bottom:20px;
}

.container_1_1{
		margin-bottom:20px;
		display: inline-flex;
		box-sizing: border-box;
		padding-left: 15px;

}

.container_1_2{
		margin-bottom:20px;
		display: flex;
		padding-left: 35px;
		box-sizing: border-box;
}

/* flex-flow */

.container_2{
	text-align: center;
	line-height: 3.5;
	height:60px;
	width:90%;
	margin-bottom:20px;
	display: flex;
}
.container_2_1{flex-flow:row;}
.container_2_2{flex-flow:row-reverse;}
.container_2_3{flex-flow:column; height:370px;}
.container_2_4{flex-flow:column-reverse;height:370px; }


.container_3{
	text-align: center;
	height:200px;
	width:90%;
	margin-bottom:20px;
	display: flex;
	margin-bottom:20px;
	flex-wrap:wrap;
}

.container_3_1{
	flex-wrap:nowrap;
}

.container_3_2{
	flex-wrap:wrap;
}

.container_3_3{
	flex-wrap:wrap-reverse;
}

.container_4_1{
	justify-content:flex-start;
}
.container_4_2{
	justify-content:flex-end;
}

.container_4_3{
 justify-content: center;
}

.container_4_4{
	justify-content:space-between;
}

.container_4_5{
	justify-content:space-around;
}

.container_5_1{
	align-content:stretch;
}

.container_5_2{
	align-content:flex-start;
}

.container_5_3{
	align-content:flex-end;
}

.container_5_4{
	align-content:center;
}

.container_5_5{
	align-content:space-between;
}
.container_5_6{
	align-content:space-around;
}
.container_6 > .items_1{order:3}
.container_6 > .items_2{order:2}
.container_6 > .items_3{order:6}
.container_6 > .items_4{order:5}
.container_6 > .items_5{order:1}
.container_6 > .items_6{order:4}


.container_6_1 > .items_1{flex-grow:1000;}
.container_6_1 > .items_2{flex-grow:25;}
.container_6_1 > .items_3{flex-grow:150;}
.container_6_1 > .items_4{flex-grow:55;}
.container_6_1 > .items_5{flex-grow:3;}
.container_6_1 > .items_6{flex-grow:55;}

.container_6_2 > .items_1{flex-shrink	:11;}
.container_6_2 > .items_2{flex-shrink	:12;}
.container_6_2 > .items_3{flex-shrink	:5;}
.container_6_2 > .items_4{flex-shrink	:3;}
.container_6_2 > .items_5{flex-shrink	:2;}
.container_6_2 > .items_6{flex-shrink	:1;}

.grid_container{
  display: grid;
  width: 90%;
  margin: 0 auto
}
img{
  width: 72%;
  height: auto;
  padding: 10px;
}
img#ani{
  width: 100%;
}

h1{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:15px;
  width: 90%;
  margin:10px auto;

}

.grid_items{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:18px;
  text-align:center;
}

	.grid_container_1{
		/* 각 행의 크기 설정 */
		grid-template-rows: 50px 30px 60px;
		/* 이름도 붙일수 있다..하지만 안붙임. */
		/* grid-template-rows: [f] 10px [s] 20px [t]30px; */
		grid-template-columns: 50px 20px 30px 14px;
	}

	.grid_container_2{
		width:35%;
		grid-template-rows: repeat(3, 100fr);
		grid-template-columns:repeat(3, 40px);
	}

	.grid_container_3{
		grid-template-rows: repeat(1, 30px 50px 30px);
		grid-template-columns:repeat(1, 50px 30px 40px 80px);
    margin: 0 0 30px 30px;
	}
	.grid_container_4{
		grid-template-rows:repeat(3, 30px);
		grid-template-columns:repeat(3,30px);
		row-gap:10px;
		column-gap: 20px;
    margin: 0 0 30px 30px;
	}

  .backback{
    border: 1px solid #000;
    margin: auto;
    background-image: url(./study_img/backback.jpg);
    width: 150px;
    height: 150px;
    background-size: 50px;
    background-repeat: no-repeat;
    margin: 20px auto;
  }

  #backback_1{background-position: top; }
  #backback_2{background-position: left;   }
  #backback_3{background-position: center  }
  #backback_4{background-position: 25% 75%;  }

  #backback_5{
    border: 10px dashed blue;
    background-size: 400px;
    background-clip: border-box;
    background-position: center;
    padding:10px;
   }
   #backback_6{
     border: 10px dashed blue;
     background-size: 400px;
     background-clip: padding-box;
     background-position: center;
     padding:10px;
    }
    #backback_7{
      border: 10px dashed blue;
      background-size: 400px;
      background-clip: content-box;
      background-position: center;
      padding:10px;
     }



  @media screen and (min-width:1300px) and (max-width:1700px) {
    section#right .bar {
      /* width: 70%; */
    }
    .right_con_wrap {
      /* width: 70%; */
    }
    section#right {
      width: 65%;
    }

  }
  @media screen and (min-width:767px) and (max-width:1300px) {
    section#right{
      width: 71%;
      height: 96%;
      padding: 0;

    }
    section#left {
      width: 22%;
      height: 96%;
    }

    .study_title {
      font-size: 23px;
    }

    section#right .bar {
      /* width: 65%;   */
      margin: 10px 0 10px 0
    }

    section#left nav{
      width: 400px;
      height: 400px;
      left: -380px;
    }
    .right_con_wrap {
      /* width: 65%; */
      top: 15%;
    }

    section#left nav .nav_2{
      width: 450px;
      height: 450px;
      top: -45%;
    }
    .right_con > p{
      font-size: 18px;
    }
  }
  @media screen and (min-width:1px) and (max-width:767px) {

    section#right .bar li {
    font-size: 15px;
}

    section#right{
      width: 65%;
      height: 65%;
      padding: 0;
      /* min-width: 695px; */
    }
    section#left {
      width: 35%;
      height: 65%;
    }
    section#right .bar {
      width: 95%;
    }
    section#right .bar li {
    font-size: 17px;
}

    section#left nav{
      width: 400px;
      height: 400px;
    }
    .right_con_wrap {
      width: 95%;
      height: 70%;
    }

    section#left nav{
      width: 400px;
      height: 400px;
      left: -380px;
    }
    section#left nav .nav_2{
      width: 450px;
      height: 450px;
      top: -45%;
    }
  }
